<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.remotium.cordova.webrtc" version="1.0.0">

    <name>WebRTC</name>
    <description></description>
    <license></license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="dist/webrtc.js" name="WebRTC">
        <clobbers target="webrtc" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WebRTCPlugin">
                <param name="ios-package" value="WebRTCPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/WebRTCPlugin.m" />
        <header-file src="src/ios/WebRTCPlugin.h" />

        <source-file src="libs/ios/libjingle_p2p.a" framework="true" />
		<source-file src="libs/ios/lib_core_neon_offsets.a" framework="true" />
		<source-file src="libs/ios/libaudio_coding_module.a" framework="true" />
		<source-file src="libs/ios/libaudio_conference_mixer.a" framework="true" />
		<source-file src="libs/ios/libaudio_device.a" framework="true" />
		<source-file src="libs/ios/libaudio_processing_neon.a" framework="true" />
		<source-file src="libs/ios/libaudio_processing.a" framework="true" />
		<source-file src="libs/ios/libbitrate_controller.a" framework="true" />
		<source-file src="libs/ios/libCNG.a" framework="true" />
		<source-file src="libs/ios/libcommon_audio_neon.a" framework="true" />
		<source-file src="libs/ios/libcommon_audio.a" framework="true" />
		<source-file src="libs/ios/libcommon_video.a" framework="true" />
		<source-file src="libs/ios/libcrnspr.a" framework="true" />
		<source-file src="libs/ios/libcrnss.a" framework="true" />
		<source-file src="libs/ios/libcrnssckbi.a" framework="true" />
		<source-file src="libs/ios/libcrssl.a" framework="true" />
		<source-file src="libs/ios/libexpat.a" framework="true" />
		<source-file src="libs/ios/libfield_trial_default.a" framework="true" />
		<source-file src="libs/ios/libG711.a" framework="true" />
		<source-file src="libs/ios/libG722.a" framework="true" />
		<source-file src="libs/ios/libicudata.a" framework="true" />
		<source-file src="libs/ios/libicui18n.a" framework="true" />
		<source-file src="libs/ios/libicuuc.a" framework="true" />
		<source-file src="libs/ios/libiLBC.a" framework="true" />
		<source-file src="libs/ios/libisac_neon.a" framework="true" />
		<source-file src="libs/ios/libiSAC.a" framework="true" />
		<source-file src="libs/ios/libiSACFix.a" framework="true" />
		<source-file src="libs/ios/libjingle_media.a" framework="true" />
		<source-file src="libs/ios/libjingle_peerconnection_objc.a" framework="true" />
		<source-file src="libs/ios/libjingle_peerconnection.a" framework="true" />
		<source-file src="libs/ios/libjsoncpp.a" framework="true" />
		<source-file src="libs/ios/libmedia_file.a" framework="true" />
		<source-file src="libs/ios/libneteq.a" framework="true" />
		<source-file src="libs/ios/libnss_static.a" framework="true" />
		<source-file src="libs/ios/libmetrics_default.a" framework="true" />
		<source-file src="libs/ios/librtc_p2p.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_vp9.a" framework="true" />
		<source-file src="libs/ios/librtc_xmpp.a" framework="true" />
		<source-file src="libs/ios/libopus.a" framework="true" />
		<source-file src="libs/ios/libpaced_sender.a" framework="true" />
		<source-file src="libs/ios/libPCM16B.a" framework="true" />
		<source-file src="libs/ios/librbe_components.a" framework="true" />
		<source-file src="libs/ios/libremote_bitrate_estimator.a" framework="true" />
		<source-file src="libs/ios/librtc_base_approved.a" framework="true" />
		<source-file src="libs/ios/librtc_base.a" framework="true" />
		<source-file src="libs/ios/librtc_sound.a" framework="true" />
		<source-file src="libs/ios/librtc_xmllite.a" framework="true" />
		<source-file src="libs/ios/librtp_rtcp.a" framework="true" />
		<source-file src="libs/ios/libsqlite_regexp.a" framework="true" />
		<source-file src="libs/ios/libsrtp.a" framework="true" />
		<source-file src="libs/ios/libsystem_wrappers.a" framework="true" />
		<source-file src="libs/ios/libusrsctplib.a" framework="true" />
		<source-file src="libs/ios/libvideo_capture_module_internal_impl.a" framework="true" />
		<source-file src="libs/ios/libvideo_capture_module.a" framework="true" />
		<source-file src="libs/ios/libvideo_coding_utility.a" framework="true" />
		<source-file src="libs/ios/libvideo_engine_core.a" framework="true" />
		<source-file src="libs/ios/libvideo_processing.a" framework="true" />
		<source-file src="libs/ios/libvideo_render_module_internal_impl.a" framework="true" />
		<source-file src="libs/ios/libvideo_render_module.a" framework="true" />
		<source-file src="libs/ios/libvoice_engine.a" framework="true" />
		<source-file src="libs/ios/libvpx_asm_offsets_vp8.a" framework="true" />
		<source-file src="libs/ios/libvpx_asm_offsets_vpx_scale.a" framework="true" />
		<source-file src="libs/ios/libvpx.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_common.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_i420.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_opus.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_utility.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_video_coding.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_vp8.a" framework="true" />
		<source-file src="libs/ios/libwebrtc.a" framework="true" />
		<source-file src="libs/ios/libyuv_neon.a" framework="true" />
		<source-file src="libs/ios/libyuv.a" framework="true" />

        <header-file src="libs/ios/header/RTCAudioSource.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCAudioTrack.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCDataChannel.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCEAGLVideoView.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCI420Frame.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCICECandidate.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCICEServer.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCMediaConstraints.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCMediaSource.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCMediaStream.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCMediaStreamTrack.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCNSGLVideoView.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCOpenGLVideoRenderer.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCPair.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCPeerConnection.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCPeerConnectionDelegate.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCPeerConnectionFactory.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCSessionDescription.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCSessionDescriptionDelegate.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCStatsDelegate.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCStatsReport.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCTypes.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCVideoCapturer.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCVideoRenderer.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCVideoSource.h" target-dir="libs/header" />
        <header-file src="libs/ios/header/RTCVideoTrack.h" target-dir="libs/header" />

        <framework src="libc++.dylib" />
        <framework src="libsqlite3.0.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreAudio.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="GLKit.framework" />
    </platform>
</plugin>
